.hero__container {
  position: relative;
  background-color: $color-dark;
  padding-top: 182px;
  padding-bottom: 70px;
  min-height: 800px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;

  @include vp-1200 {
    padding-top: 174px;
    padding-bottom: 169px;
    min-height: 1024px;
  }

  @include vp-767 {
    padding-top: 139px;
    padding-bottom: 132px;
    min-height: 568px;
  }

  &--caucasus {
    background-image: url("../img/hero/hero1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/hero1@2x.jpg");
    }

    @include vp-1200 {
      background-image: url("../img/hero/hero1-tab.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero1-tab@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/hero/hero1-mob.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero1-mob@2x.jpg");
      }
    }
  }

  &--kamchatka {
    background-image: url("../img/hero/hero2.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/hero2@2x.jpg");
    }

    @include vp-1200 {
      background-image: url("../img/hero/hero2-tab.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero2-tab@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/hero/hero2-mob.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero2-mob@2x.jpg");
      }
    }
  }

  &--altay {
    background-image: url("../img/hero/hero3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/hero3@2x.jpg");
    }

    @include vp-1200 {
      background-image: url("../img/hero/hero3-tab.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero3-tab@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/hero/hero3-mob.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/hero3-mob@2x.jpg");
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      143deg,
      rgba(15, 20, 41, 0.33) 0%,
      rgba(15, 20, 41, 0) 100%
    );
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

  @include vp-1200 {
    align-items: center;
  }

  & > h2 {
    color: $color-light;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    max-width: 945px;
    font-family: $font-extra-bold;
    font-size: 77px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    position: relative;
    z-index: 1;

    @include vp-1200 {
      margin-bottom: 13px;
      max-width: 100%;
      text-align: center;
      font-size: 56px;
    }

    @include vp-767 {
      margin-bottom: 15px;
      max-width: 100%;
      font-size: 30px;
    }
  }

  & > p {
    max-width: 460px;
    color: $color-light;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-family: $font-regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    @include vp-1200 {
      margin-bottom: 27px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}

.hero__list {
  max-width: 780px;
  margin: 0;
  margin-top: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include vp-1200 {
    display: none;
  }
}

.hero__item {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 13px 19px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;

  &:last-child {
    margin: 0;
  }

  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    font-family: $font-regular;
    color: $color-light;
  }
}

.hero__item-icon {
  display: block;
  margin-right: 8px;
}

.hero__button {
  padding: 21px 54px;
  margin-bottom: 20px;
  max-width: 460px;

  @include vp-1200 {
    padding: 21px 48px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.hero__pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.hero__pagination-item {
  margin-right: 15px;
  width: 10px;
  height: 10px;

  &:last-child {
    margin: 0;
  }
}

.hero__pagination-button {
  padding: 0;
  margin: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $color-light;
  background-color: $color-transparent;

  &--current {
    background-color: $color-light;
  }
}

.hero__video-container {
  position: absolute;
  right: 120px;
  bottom: 112px;

  @include vp-1200 {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 30px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video-cover-image {
  width: 482px;
  height: 317px;

  @include vp-1200 {
    width: 442px;
    height: 300px;
  }
}

.hero__youtube-video {
  width: 482px;
  height: 317px;
  border: none;

  @include vp-1200 {
    width: 442px;
    height: 300px;
  }
}

.hero__video-cover-button {
  border: none;
  background-color: $color-transparent;
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);

  &:not(:disabled):hover circle,
  &:not(:disabled):focus circle {
    fill-opacity: 0;
    stroke: #1c3374;
  }

  &:not(:disabled):active circle {
    fill-opacity: 1;
    fill: #1c3374;
  }

  &:not(:disabled):hover path,
  &:not(:disabled):focus path {
    stroke: $color-default-black;
  }

  &:not(:disabled):active path {
    stroke: $color-default-white;
  }

  &:disabled {
    cursor: auto;
  }

  &:disabled circle {
    stroke: rgba(2, 102, 193, 0.1);
    fill-opacity: 0;
  }

  &:disabled path {
    fill: rgba(2, 102, 193, 0.1);
  }
}

.hero__polaroid-container {
  position: absolute;
  bottom: 69px;
  right: 120px;

  @include vp-1200 {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 14px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__polaroid-image {
  width: 410px;
  height: 459px;

  @include vp-1200 {
    width: 442px;
    height: 365px;
  }
}

.hero__podcast-container {
  position: absolute;
  bottom: 209px;
  right: 120px;

  @include vp-1200 {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 49px;
  }

  @include vp-767 {
    display: none;
  }
}
